
.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.widget {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}


.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}


.modal-dialog {
    max-width: 80%;
}
